<div class="zero-ui-side-menu" [style.width]="menuWith">
  <div class="zero-ui-side-scroll">
    <div class="zero-ui-logo">
      <span>zeroUiAdmin</span>
    </div>
    <ul class="zero-ui-nav">
      <li class="zero-ui-nav-item" (click)="toggleNav()" [style.height]="navHeight">
        <a href="#">
          <i class="fa fa-home"></i>
          <cite *ngIf="menuWith === '240px'">首页</cite>
          <span *ngIf="menuWith === '240px'" [class]="navHeight === 'auto' ? 'zero-ui-more' : 'zero-ui-more triangle-down'"></span>
        </a>
        <dl class="nav-item-child" *ngIf="menuWith === '240px'">
          <dd>
            <a href="#">控制台</a>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
