/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';
body,ul,a,cite,dd,dl{
  margin: 0;
  padding: 0;
  border: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
body{
  font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
